@media screen and (max-width: 1669px) {
.About {
    margin-bottom: 15%;
}
.Trending-title {
    width:45%;
}
.footer-col button {
    margin-left: -18%;
}
@media screen and (max-width: 1603px) {
   .testi {
    margin-left: 4%;
}
.Testimonial {
    width: 100%;
    margin-left:15%;
}
}
@media screen and (max-width: 1600px) {
 .header{
min-height: 90vh;
 }
 .navigation {
    bottom: -55%;
 }
 #demo-nav a {
    padding: 1.5em;
}
.About{
 margin-bottom: 15%;
    margin-top: 10%;
}
.About img {
    top: 100%;
}
.title{
    width: 18%;
}
.Trending-title {
    width: 45%;
}
.Latest-Collection img {
    margin-left: 24%;
    margin-top: -20%;
}
.title-Brands {
    width: 30%;
    }
    .title-us {
    width: 24%;
}
.title-testi {
    width: 24%;
}
.text-col {
    top: 31%;
}
}
@media screen and (max-width: 1590px) {
    .Testimonial {
    margin-left: 15%;
}
}
@media screen and (max-width: 1500px) {
    .Testimonial {
    margin-left: 15%;
}
.About img {
    top: 100%;
    left: 14%;
}
}
@media screen and (max-width: 1478px) {
.Latest-Collection {
margin-left:-5%;
}
.footer-col button {
    margin-left: -23%;
}
}
@media screen and (max-width: 1440px) {
    .Testimonial {
    margin-left: 10%;
}
.title-Brands {
    width: 35%;
}
.Trending-title {
    width: 49%;
}
.title {
    width: 20%;
}
.text-col {
    top: 32%;
}
.About img {
    top: 96%;
}
.Trending img {
    margin-top: -45%;
    left: 40% 
}
.footer-col .social-links a {
    width: 20%;
}
@media screen and (max-width: 1420px) {
.header {
    min-height: 85vh;
}
.text-col {
    top: 27%;
}
.About img {
    top: 91%;
    left: 14%
}
.Latest-Collection {
    margin-left:-7%;
}
.Featored {
    margin-left: -6%;
}
.title-us {
    margin-left:8%;
}
.Coment-box {
    margin-left: 7%;
}
iframe {
    margin-left: 57%;
}
button.Send {;
    margin-left: 9%;
}
.title-testi {
    margin-left: 9%
}
}
@media screen and (max-width: 1370px) {
    .Testimonial {
    margin-left:8%;
}
.header {
    min-height: 80vh;
}
.About img {
    top: 93%;
}
.Latest-Collection {
    margin-left: -10%;
}
.About {
    margin-bottom: 20%;
    margin-top: 15%;
}
.text-col {
    top: 23%;
}
.footer-col button {
    margin-left: -26%;
}
}
@media screen and (max-width: 1300px) {
    .Featored {
    margin-left: -10%;
}
.Latest-Collection {
    margin-left: -14%;
}
.line p {
    margin-top: -80%;
    margin-left: 155%;
}
.Trending img {
    margin-top: -55%;
    left: 37%;
}
.About {
    margin-left: -6%;
}
.About button {
    margin-left: 10%;
}
.title {
    margin-left: 9.7%;
}
.About img {
    left: 10%;
    top: 87%;
}
#demo-nav a {
    line-height: 2.5em;
    font-size: 15px
}
.header {
    min-height: 75vh;
}
.THELATEST {
    font-size: 2.5em;
    margin-bottom: -30px;
}
.FURNITURE {
    font-size: 5em;
    margin-bottom: 0%;
}
.Latest-Collection img {
    margin-top: -24%;
}
.Trending {
    margin-left: -10%;
}
}
@media screen and (max-width: 1254px) {
    .testi {
    margin-left: 2.5%;
}
    a.btn {
    margin: 0.7%;
}
.Trending-title {
    width: 60%;
}
.Latest-Collection {
    margin-left: -16%;
}
}
@media screen and (max-width: 1204px) {
    .header {
    min-height: 70vh;
}
.text-col {
    top: 20%;
}
button.us,button.Read {
    font-size: 0.9em;
}
.bar {
    height: 17px;
    width: 17px;
    margin: 2px;
}
    .testi {
    margin-left: 2%;
}
 a.btn {
    margin: 0.1%;
}
.About img {
    top: 78%;
    left: 6%;
}
#demo-nav a {
    padding: 1.2em;
}
.Latest-Collection img {
    margin-top: -23%;
    margin-left: 22%;
    width: 50%;
}
.Collection {
   font-size: 42px;
}
.DISCOUNT {
    font-size: 55px;
}
.title-us {
    margin-left: 3%;
}
.title-us {
    width: 30%;
}
.Coment-box {
    margin-left: 1%;
}
iframe {
    margin-left: 54%;
}
button.Send {
    margin-left: 4%;
}
.title-testi {
    margin-left: 3%;
}
.Testimonial {
    margin-left: 5%;
}
.title-testi {
    width: 30%;
}
}
@media screen and (max-width: 1170px) {
 .About img {
    top: 81%;
    left: 11%;
    width: 46%;
}
.Lorem {
    font-size: 15px;
}
.title p {
    font-size: 35px;
}
.About button {
font-size: 0.9em;
margin-top: 11%;
}   
a.btn {
    margin: 1%;
}
.Chairs {
    margin: 18%;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 94%;
}
.Featored button {
    margin-left: 19%;
}
    .Testimonial-col p {
    font-size: 15px;
}
.Testimonial {
    margin-left: 11%;
}
.Testimonial-col h3 {
    margin-left: 30%;
}
.Testimonial-col h1 {
    margin-left: 30%;
}
}
@media screen and (max-width: 1150px) {
   .footer-col {
    margin-left: -2%;
}
}
@media screen and (max-width: 1111px) {
.header {
    min-height: 65vh;
}
.About img {
    top: 77%
}
.Latest-Collection {
    margin-left: -19%;
}
iframe {
    margin-left: 55%;
    width: 40%;
}
.Testimonial {
    margin-left: 7%;
}
.THELATEST {
    font-size: 2em;
    margin-bottom: -25px;
}
.FURNITURE {
    font-size: 4em;
    margin-bottom: -1%;
}
.ipsum{
    font-size:11px;
}
button.Read {
    margin-top: 35px;
}
.text-col {
    top: 26%;
}
#demo-nav a {
    padding: 0.9em;
}
.fa i {
    font-size: 14px;
    padding-right: 3em;
}
@media screen and (max-width: 1070px) {
    .Testimonial {
    margin-left: 4%;
}
.Testimonial-col {
    padding: 20px
}
.title-testi {
    width: 35%;
    margin-left: 5%;
}
.title-us {
    width: 35%;
    margin-left: 5%;
}
.title-Brands {
    width: 50%;
    margin-left: 5%
}
.Chairs {;
    margin-top: 5%;
   margin-left:4%;
}
.Featored button {
    margin-left: 5%;
}
    button.Send {
    margin-left: 6%;
    margin-top: 35px;
}
.Trending-title {
    width: 70%;
}
.Trending-title {
    margin-left: -10%;
}
.row {
    margin: 5% -8%
    }
.line p {
    margin-top: -90%;
    margin-left: 150%;
}
.Trending img {
    margin-top: -63%;
    left: 35%;
    width: 60%;
}
.Trending {
    margin-left: -2%;
}
.Featored {
    margin-left: 0%;
}
.rowr {
    margin: 70px 15px;
}
.header {
    min-height: 60vh;
}
.text-col {
    top: 21%;
}
.About img {
    top: 71%;
    left: 12%;
}
#demo-nav a {
font-size: 13px;
}
.fa i {
    font-size: 13px;
    padding-right: 2em;
}
.rowr {
    margin: 70px -10px;
}
.DISCOUNT {
    font-size: 50px;
    margin-left: 222px;
}
.Collection {
    font-size: 39px;
}
.Latest-Collection button {
    font-size: 1em
}
.Latest-Collection img {
    margin-left: 23%;
    width: 48%
}
.Latest-Collection {
    margin-left: -20%;
}
button.Send {
    margin-left: 4%
}
}
@media screen and (max-width: 1024px) {
.rowr {
    margin: 70px 0px;
    width: 11%;
}
.footer-col button {
    margin-left: 0%;
}
    .footer-col {
    margin-left: -10%;
}
.rowr {
    margin: 70px 35px;
    width: 100%;
}
.footer-col button {
    margin-left: -20%;
}
}
@media screen and (max-width: 975px) {
.Latest-Collection {
    margin-left: -22.5%;
}
iframe {
    margin-left: 55%;
}
.About img {
    top: 65%;
    left: 13%
}
.About {
    margin-left: -8%;
}
.header {
    min-height: 54vh;
}
.text-col {
    top: 17%;
}#demo-nav a {
    padding: 0.5em;
}
}
@media screen and (max-width: 955px) {
.Testimonial {
    margin-left: 2%;
}
.title-testi {
    margin-left: 3%;
}
.Chairs {
    margin-left: 17%;
}
.Featored button {
    margin-left: 17%;
}
.logo {
    width: 70px;
}
.Collection {
    margin-bottom: -2%;
    margin-left: 275px;
}
.footer-col button {
    margin-left: -24%;
}
}
@media screen and (max-width: 910px) {
.Lorem {
    font-size: 14px;
}
.title {
    width: 25%;
} 
.Testimonial-col p {
    font-size: 14px;
}
.Testimonial{
 margin-left:0%;
}
.title-testi {
    margin-left: 2%;
        width: 45%;
}
.title-us {
    width: 43%;
    margin-left: 2%;
}
    .title-Brands {
    width: 57%;
    margin-left: 2%;
}
.Trending-title {
    width:75%;
}
.row {
    margin: 2% -10%;
}
.row .line {
    margin-top: 3%;
    width: 6%;
}
@media screen and (max-width: 887px){
    .header {
    min-height: 50vh;
}
.text-col {
    top: 13%;
}
.About img {
    top: 61%;
}
.Collection {
    font-size: 35px;
}
.DISCOUNT {
    font-size: 45px;
    margin-left: 215px;
}
.Latest-Collection img {
    margin-left: 19%;
    width: 47%;
}
.footer-col button {
    margin-left: -27%;
}
.footer-col .social-links {
    margin-left: -11%;
}
iframe {
    margin-left: 57%;
}
}
@media screen and (max-width: 850px){
    .Collection {
    padding-top: 22%;
    margin-left: 42%;
    font-size: 40px;
}
.Latest-Collection img {
    margin-top: -57%;
    margin-left: -27%;
    width: 55%;
}
.DISCOUNT {
    font-size: 50px;
    margin-left:33%;
}
.Latest-Collection button {
    margin-left:50%;
}
    .Testimonial {
    margin-left: 21%;
}
.Lorem {
    font-size: 13px;
}
.Testimonial-col p {
    font-size: 17px;
    margin-top: -4%
}
.Testimonial-col {
    padding: 15px;
}
.Testimonial-col h1{
   margin-top: -70px;
   font-size: 19px;
   margin-left: 25%;
}
.Testimonial-col h3 {
    margin-left: 25%;
    font-size: 15px;
    margin-bottom: 10%;
}
.Chairs {
    margin-left: 14%;
}
.Featored button {
    margin-left: 15%;
}
}
@media screen and (max-width: 815px){
.header {
    min-height: 46vh;
}
 .THELATEST {
    font-size: 1.5em;
    margin-bottom: -20px;
}
.FURNITURE {
    font-size: 3em;
    margin-bottom: -1%;
}
.ipsum {
    font-size: 9px;
}
button.Read {
    margin-top: 30px;
    font-size: 0.6em;
}
button.us{
    font-size: 0.6em;
}
.text-col {
    top: 17%;
}
.bar {
    height: 13px;
    width: 13px;
    margin: 1.5px;
}
#demo-nav a {
    font-size: 10px;
}
.fa i {
    font-size: 11px;
    padding-right: 1.5em;
}
.About img {
    top: 57%;
}   
.Trending {
    margin-left: -6%;
}
.line p {
    font-size: 23px;
}
.Trending-title {
    margin-left: -13%;
}
.Latest-Collection {
    padding-top: 15%;
    padding-bottom: 0%;
}
iframe {
    margin-left: 58%;
}
.footer-col ul li a {
    font-size: 14px;
}
.rowr {
    margin: 70px 20px;
}
}
@media screen and (max-width: 788px){
.rowr {
    margin: 70px 45px;
}
.footer-col {
    margin-left: -15%;
}
}
@media screen and (max-width: 770px){
.Lorem {
    font-size: 12px;
}
.Trending-title {
    width: 85%;
}
.line p {
    font-size: 20px;
}
.title-Brands {
    width: 63%;
}
.title {
    width: 30%;
}
}
@media screen and (max-width: 735px){
    .header {
    min-height: 41vh;
}
.text-col {
    top: 12%;
}
.About img {
    top: 50%;
}
.Testimonial {
    margin-left: 18%;
}
.Coment-box {
    margin-left: -2%;
}
iframe {
    margin-left: 53%;
    width: 45%;
}
.Coment-form input, .Coment-form textarea {
    width: 42%;
}
.Chairs {
    margin-left: 10%;
}
.title-Brands {
    width: 65%;
}
.Trending-title {
    width: 90%;
}
.Lorem {
    font-size: 11px;
}
.Featored button {
    margin-left: 10%;
}
.title p {
    font-size: 30px;
}
.title {
    margin-left: 8.7%;
}
.About button {
    font-size: 0.7em;
}
}
@media screen and (max-width: 710px){
.rowr{
    display: flex;
    flex-direction: column;
    margin: 70px 70px;
    width:100%;
}

.footer-col h4 {
    font-size: 24px;
    margin-bottom:10px;
    margin-top: -7%;
    position: relative;
}
.footer-col ul li a {
    font-size: 20px;
    width:100%;
}
.footer-col button {
    margin-left: -7%;
}
.footer-col .social-links a{
    margin-top:5%;
    width: 5%;
}
.footer-col {
    margin-left: -22%;
}
.footer-col .social-links {
    margin-left: 0%;
}
}
@media screen and (max-width: 700px){
.Chairs {
    margin-left: 8%;
}
.Featored button {
    margin-left: 9%;
}
.Latest-Collection img {
    margin-top: -65%;
    margin-left: -32%;
    width: 65%;
}
.Latest-Collection {
    margin-left: -32%;

}
}
@media screen and (max-width: 680px){
.title p {
    font-size: 35px;
}
.About img {
    top: 59%;
    left: -18%;
    width:50%;
}
.Lorem {
    font-size: 16px;
    margin-top: 43%;
}
.About button {
    font-size: 0.9em;
        margin-top: 60%;
}
.About {
    margin-left: 0%;
}
.Trending {
    margin-left: -10%;
}
.Chairs {
    margin-left: 6%;
}
.title-Brands {
    width: 70%;
}
.title-us {
    width: 50%;
}
.title-testi {
    margin-left: 2%;
    width: 50%;
}
.Testimonial {
    margin-left: 12%;
}
#demo-nav a {
    font-size: 9px;
}
.fa i {
    font-size: 10px;
}
.text-col {
    top: 13%;
}
.title {
    width: 35%;
}
.Featored button {
    margin-left: 8%;
}
}
@media screen and (max-width: 655px){
.header {
    min-height: 37vh;
}
.About img {
    top: 56%;
}
.THELATEST {
    font-size: 1.3em;
    margin-bottom: -15px;
}
.FURNITURE {
    font-size: 2.2em;
    margin-bottom: 0%;
}
button.us,button.Read {
    margin-top: 19px;
    font-size: 0.5em;
}
.line p {
    font-size: 17px;
}
.Trending img {
    position: absolute;
    margin-top: -59%;
    left: 35%;
    width: 58%;
}
.Featored button {
    margin-left: 6%;
}
.title-Brands:after {
    right: 0px;
}
}
@media screen and (max-width: 626px){
.Chairs {
    margin-left: 3%;
        width: 100%;
}
.Featored button {
    margin-left: 4%;
}
#demo-nav a {
    padding: 0.2em;
}
.fa i {
    font-size: 9px;
}
.Trending-title p {
    font-size: 33px;
}
.About {
    margin-left: -5%;
}
}
@media screen and (max-width: 605px){
    .header {
    min-height: 34vh;
}
.text-col {
    top: 10%;
}
.footer-col ul li a {
    font-size: 19px;
        width: 100%;
}
.footer-col h4 {
    font-size: 22px;
    margin-left: -2%;
}
.footer-col {
    margin-left: -27%;
}
.footer-col button {
    margin-left: -8%;
}
.Chairs {
    margin-left:1%;
}
.title-Brands {
    width: 75%;
}
.Testimonial {
    margin-left: 8%;
}
.title-testi {
    width: 60%;
}
.Latest-Collection img {
    margin-top: -71%;
}
.About img {
    top: 50%;
}
}
@media screen and (max-width: 590px){
.Chairs {
    margin-left: 25%;
}
.Featored button {
    margin-left: 25%;
}
.title-Brands {
    width: 80%;
}
#demo-nav a {
    padding: 0.1em;
}
.logo {
    width: 55px;
    margin: 0.5em 0.4em
}
#demo-nav a {
    padding: 0.3em;
}
.Coment-box {
    margin-top: 10%;
}
iframe {
    margin-left: 4%;
    width: 91%;
}
.Coment-form input, .Coment-form textarea {
    width: 86%;
    font-size: 18PX;
    margin-top: 10px;
}
.Coment-box {
    margin-top: 55%;
}
.title-us {
    width: 60%;
}
button.Send {
    margin-left: 3%;
    margin-top: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 35px;
    padding-right: 35px;
}
.Latest-Collection img {
    margin-top: -80%;
    margin-left: -33%;
    width: 70%;
}
.Latest-Collection {
    margin-left: -45%;
}
.About {
    margin-left: -8%;
}
.ipsum {
    font-size: 7px;
}
}
@media screen and (max-width: 550px){
.header {
    min-height: 31vh;
}
.Testimonial {
    margin-left: 4%;
}
.footer-col .social-links{
    margin-left: -5%;
}
.Coment-form input, .Coment-form textarea {
    font-size: 17PX;
}
.Coment-box {
    margin-top: 58%;
}
iframe {
    width: 92%;
}
.Trending-title p {
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 10px;
    margin-left: 130px;
}
.row {
    margin: 2% -16%;
}
.row .line {
    margin-top: 4%;
}
.line p {
    margin-top: -107%;
}
.About img {
    top: 45%;
}
.Lorem {
    font-size: 15px;
}
#demo-nav a {
    padding: 0.1em;
}
.bar {
    height: 10px;
    width: 10px;
    margin: 1px;
}
.navigation {
    bottom: -43%;
}
}
@media screen and (max-width: 530px){
    .Testimonial {
    margin-left: 2%;
}
.Coment-box {
    margin-top:60%;
}
.Coment-form input, .Coment-form textarea {
    width: 85%;
}
.title {
width: 45%;
}
@media screen and (max-width: 506px){
.title-Brands {
    width: 90%;
}
.Testimonial {
    margin-left: 2%;
}
.Testimonial {
    margin-left: 3%;
}
.Testimonial-col p {
    font-size: 16px;
}
.title-testi {
    width: 70%;
}
.Coment-box {
    margin-top: 63%;
}
.Coment-form input, .Coment-form textarea {
    font-size: 16PX;
} 
.Latest-Collection {
    margin-left: -48%;
}
.Collection {
    font-size: 38px;
}
.Trending img {
    position: absolute;
    margin-top: -66%;
    left: 37%;
    width: 60%;
}
.Lorem {
    font-size: 14px;
}
.title p {
    font-size: 30px;
}
.header {
    min-height: 28vh;
}
.About img {
    top: 43%;
}
.fa i {
    padding-right: 1em;
}
button.us, button.Read {
    margin-top: 14px;
    font-size: 0.4em;
}
.FURNITURE {
    font-size: 2em;
    margin-bottom: -1%;
}
.THELATEST {
    font-size: 1.1em;
    margin-bottom: -13px;
}
#demo-nav a {
    font-size: 8.5px;
}
.logo {
    width: 45px;
    margin: 0.6em 0.4em;
} 
}   
@media screen and (max-width: 490px){
.footer-col ul li a {
    font-size: 16px;
    width: 95%;
}
.Chairs {
    margin-left: 20%;
}
.footer-col button {
    margin-left: -10%;
}
.Testimonial {
    margin-left: 2%;
}
.Coment-box {
    margin-top: 70%;
}
iframe {
    margin-left: 5%;
}
.title-us {
    width: 70%;
}
}
@media screen and (max-width: 485px){
.Testimonial {
    margin-left: 1%;
}
.Collection {
    font-size: 38px;
}
.Trending-title {
    width: 95%;
}
.Trending-title p {
    font-size: 25px;
    margin-left: 115px;
}
.row {
    margin: 0% -20%;
}
.Trending img {
    margin-top: -63%;
}
.Lorem {
    font-size: 13px;
}
.About button {
    font-size: 0.7em;
}
@media screen and (max-width: 475px){
.Testimonial-col p {
    font-size: 15px;
}
.Testimonial {
    margin-left:3%;
}
.Testimonial-col h3,.Testimonial-col h1{
    margin-left:30%;
}
.Collection {
    font-size: 36px;
}
}
@media screen and (max-width: 460px){
.Testimonial {
    margin-left:1%;
}
.Collection {
    font-size: 36px;
}
.Latest-Collection button {
    margin-left: 55%;
}
.Latest-Collection img {
    margin-left: -43%;
}
.header {
    min-height: 25vh;
}
.About img {
    top: 38%;
}
.text-col {
    top: 8%;
}
.ipsum {
    font-size: 5px;
}
button.us, button.Read {
padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
#demo-nav a {
    font-size: 8px;
}
.fa i {
    font-size: 8px;
}
}

@media screen and (max-width: 450px){
.Featored p {
    font-size: 35px;
}
.Testimonial {
    margin-left:0%;
}
.Coment-box {
    margin-top: 74%;
}
iframe {
    margin-left: 4%;
}
.Coment-form input, .Coment-form textarea {
    width: 84%;
    MARGIN-LEFT: 6%;
}
.Collection {
    font-size: 34px;
}
.Lorem {
    font-size: 12px;
}
.title p {
    font-size: 27px;
}
}
@media screen and (max-width: 440px){
.Testimonial-col p {
    font-size: 14px;
}
.Testimonial {
    margin-left: 2%;
}
.footer-col .social-links{
    margin-left: -10%;
}
.title-testi {
    width: 80%;
}
.title-us {
    width: 79%;
}
.row {
    margin: 0% -25%;
}
.Trending-title {
    margin-left: -17%;
}
.Trending img {
    margin-top: -65%;
    left: 36%;
}
#demo-nav a {
    font-size: 7px;
}
.fa i {
    font-size: 7px;
}
}
@media screen and (max-width: 430px){
.footer-col {
    margin-left: -30%;
}
.footer-col button {
    margin-left: -11%;
}
.Chairs {
    margin-left: 15%;
}
.Featored p {
    font-size: 30px;
}
.Testimonial {
    margin-left: 1%;
}
.DISCOUNT {
    font-size: 45px;
}
.Collection {
    font-size: 32px;
}
.Latest-Collection button {
    margin-left: 53%;
}

}
@media screen and (max-width: 420px){
.Testimonial {
    margin-left: 3%;
}
.Testimonial-col p {
    font-size: 13px;
}
.Coment-box {
    margin-top: 80%;
}
.About img {
    top:35%;
}
.Lorem {
    font-size: 11.5px;
}
.title p {
    font-size: 25px;
}
.header {
    min-height: 23vh;
}
.text-col {
    top: 7%;
}
.navigation {
    bottom: -35%;
}
.bar {
    height: 7px;
    width: 7px;
    margin: 1px;
}
}
@media screen and (max-width: 405px){
.DISCOUNT {
    font-size: 42px;
}
.Collection {
    font-size: 29px;
}
.row .line {
    margin-top: 4%;
    width: 4%;
}
.Trending-title {
    margin-left: -19%;
}
.line p {
    margin-top: -168%;
    font-size: 14px;
}
.row {
    margin: -3% -28%;
}
.Trending img {
    margin-top: -58%;
}
.Trending-title {
    width: 100%;
}
.number{
    font-size: 24px;
}
.Trending p {
    font-size: 14px;
}
.Trending-title p {
    font-size: 22px;
}
.Lorem {
    font-size: 10.8px;
}
.title p {
    font-size: 24px;
}
.About button {
    font-size: 0.6em;
}
}
@media screen and (max-width: 390px){
.Testimonial-col p {
    font-size: 12px;
}
.Testimonial-col h1 {
    font-size: 16px;
}
.Testimonial-col h3 {
    font-size: 13px;
}
.Testimonial-col img {
    height: 80px;
}
.Testimonial-col h3 {
    margin-bottom: 15%;
}
.Testimonial-col h3, 
.Testimonial-col h1 {
    margin-left: 32%;
}
.footer-col .social-links {
    margin-left: -15%;
}
.title-testi p {
    font-size: 35px;
}
.Coment-box {
    margin-top: 85%;
}
.Coment-form input, 
.Coment-form textarea {
    MARGIN-LEFT: 5%;
}
.Coment-form input, 
.Coment-form textarea {
    font-size: 15PX;
}
.title-us p {
    font-size: 40px;
}
.header {
    min-height: 21vh;
}
.fa i {
    font-size: 6px;
}
#demo-nav a {
    font-size: 6px;
}
.About img {
    top:33%;
}
.FURNITURE {
    font-size: 1.5em;
    margin-bottom: 0%;
}
.THELATEST {
    font-size: 1em;
    margin-bottom: -13px;
}
.THELATEST {
    font-size: 0.9em;
    margin-bottom: -10px;
}
button.us, button.Read {
    margin-top: 11px;
    font-size: 0.3em;
        padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px
}
}
@media screen and (max-width: 375px){
    .DISCOUNT {
    font-size: 39px;
}
.Collection {
    font-size: 28px;
}
.Trending-title {
    width: 110%;
}
.Trending {
    padding-bottom: 10%;
    padding-top: 5%;
}
.row {
    margin: -6% -30%;
}
.Trending-title {
    margin-left: -20%;
}
.Trending img {
    margin-top:-42%;
    width: 50%;
}
.Lorem {
    font-size: 10px;
}
.title p {
    font-size: 22px;
}
#demo-nav a {
    font-size: 5.5px;
}
.fa i {
    font-size: 5.5px;
}
.logo {
    width: 35px;
    margin: 0.7em 0.4em;
}
}
@media screen and (max-width: 365px){
.Testimonial-col p {
    font-size: 11px;
}
.Coment-box {
    margin-top: 95%;
}
.title-us p {
    font-size: 40px;
}
.Trending img {
    margin-top: -46%;
    left: 44%;
    width:50%;
}
}
@media screen and (max-width: 354px){
.footer-col button {
    margin-left: -14%;
}
.Chairs {
    margin-left: 10%;
}
.title-us {
    width: 85%;
}
.DISCOUNT {
    font-size: 35px;
}
.Collection {
    font-size: 25px;
}
.Trending p {
    font-size: 14px;
    padding-top: 29px;
}
.Trending-title p {
    font-size: 22px;
}
.Lorem {
    font-size: 9.5px;
}
.About button {
    font-size: 0.5em;
}
.title p {
    font-size: 20px;
}
.title {
    margin-left: 7.7%;
}
.header {
    min-height: 19vh;
}
.About img {
    top: 30%;
}
.text-col {
    top: 6%;
}
}
@media screen and (max-width: 340px){
.Testimonial-col p {
    font-size: 10px;
}
.Testimonial {
    margin-left: 4%;
}
.Testimonial-col h3, 
.Testimonial-col h1 {
    margin-left: 38%;
}
.footer-col .social-links {
    margin-left: -20%;
}
.Coment-box {
    margin-top: 100%;
}
.Trending {
    font-size: 10px;
}
.Trending p {
    font-size: 14px;
    padding-top: 29px;
}
.Trending-title p {
    font-size: 22px;
}
.row {
    margin: -7% -35%;
}
.Trending-title {
    margin-left: -25%;
}
}
@media screen and (max-width: 327px){
.Chairs {
    margin-left:3%;
}
.footer-col {
    margin-left: -43%;
}
.title-testi {
    width: 85%;
}
.Testimonial {
    margin-left: 1%;
}
.title-us {
    width: 90%;
}
.Collection {
    font-size: 25px;
}
.Latest-Collection img {
    margin-left: -50%;
}
.Lorem {
    font-size: 9px;
}
.About img {
    top:30%;
}
.logo {
    width: 30px;
    margin: 0.8em 0.2em;
}
.text-col {
    top: 6%;
    left: 5%;
}
.navigation {
    left: 40%;
}
.bar {
    height: 5px;
    width: 5px;
}
}
